<div class="row">
    <form>

        <div class="col-lg-12" style="padding-top: 50px; margin-bottom: 30px;">

            <h2 class="text-center">Position Maintenance</h2>
            <hr/>

        </div>

        <div class="col-lg-12">

            <button (click)="add()" class="btn btn-success btn-md" title="Add" data-toggle="modal" data-target="#mdlModalInfo">
				<i class="glyphicon glyphicon-plus"></i> Add
			</button>

        </div>

        <div class="col-lg-12">

            <table class="table table-condensed" style="margin-top: 40px;">
                <thead>
                    <th></th>
                    <th>Position Name</th>
                    <th>Modules</th>
                </thead>
                <tbody>

                    <tr *ngIf="loading">
                        <td colspan="5" class="text-center">Loading...</td>
                    </tr>

                    <tr *ngIf="!loading && positions.length <= 0">
                        <td colspan="5" class="text-center">No data yet.</td>
                    </tr>

                    <tr *ngFor="let position of positions">
                        <td>
                            <button (click)="view(position)" class="btn btn-primary btn-xs" title="View information" data-toggle="modal" data-target="#mdlModalInfo">
								<i class="glyphicon glyphicon-info-sign"></i>
							</button>
                            <button (click)="confirmDelete(position)" class="btn btn-danger btn-xs" title="Delete">
								<i class="glyphicon glyphicon-trash"></i>
							</button>
                        </td>
                        <th>{{ position.positionName }}</th>
                        <th>{{ position.modules.length }}</th>
                    </tr>
                </tbody>
            </table>

        </div>

    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="mdlModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form autocomplete="off" *ngIf="selectedPosition">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Module</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="txtPositionName">Position Name</label>
                        <input [(ngModel)]="selectedPosition.positionName" [disabled]="isFormDisabled" name="txtPositionName" type="text" class="form-control"
                            id="txtPositionName" placeholder="Module Name" required>
                    </div>

                    
                    <div class="form-group">
                        
                        <table class="table table-condensed">
                            <thead>
                                <th><input [(ngModel)]="moduleSelector" name="chkModuleSelectorAll" (ngModelChange)="toggleModuleSelection(moduleSelector)" type="checkbox"></th>
                                <th>Module Name</th>
                                <th>Module Description</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let module of modules">
                                    <td>
                                        <input [(ngModel)]="module.selected" type="checkbox" name="chkModuleSelected">
                                    </td>
                                    <td>{{ module.moduleName }}</td>
                                    <td>{{ module.moduleDescription }}</td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>

                </div>

                <div *ngIf="operation === 0" class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button (click)="edit()" type="button" class="btn btn-primary">Edit</button>
                </div>

                <div *ngIf="operation === 1" class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button (click)="confirmAdd()" type="button" class="btn btn-primary">Add</button>
                </div>

                <div *ngIf="operation === 2" class="modal-footer">
                    <button (click)="cancelEdit()" class="btn btn-default">Cancel</button>
                    <button (click)="confirmUpdate()" type="button" class="btn btn-primary">Save</button>
                </div>

            </form>

        </div>
    </div>
</div>