<div class="row">
    <div class="col-lg-offset-10 col-lg-2 pull-right">
        <button (click)="addAccreditation()" class="btn btn-primary  btn-block btn-sm">Add Accreditation</button>
    </div>
</div>
<div class="row tab-gap">
    <div class="col-lg-12">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th colspan="3" class="section-title">Certificates</th>
                </tr>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Date Accredited</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="employee.certifications.length <= 0">
                    <td colspan="3" class="text-center">No certifications yet</td>
                </tr>
                <tr *ngFor="let certification of employee.certifications; let index = index; trackBy: certification;">
                    <td class="text-center">
                        <button 
                            type="button" 
                            class="btn btn-default btn-xs" 
                            (click)="confirmDeleteAccreditation(employee.certifications, certification)" 
                            [disabled]="isFormDisabled">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <button 
                            type="button" 
                            class="btn btn-default btn-xs" 
                            (click)="editAccreditation(certification, index, 'Certificate')" 
                            [disabled]="isFormDisabled">
                            Edit
                        </button>
                    </td>
                    <td>{{ certification.title }}</td>
                    <td>{{ certification.dateAccredited | date : 'yyyy-MM-dd' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-12 tab-gap">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th colspan="3" class="section-title">Licensures</th>
                </tr>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Date Accredited</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="employee.licensures.length <= 0">
                    <td colspan="3" class="text-center">No licensures yet</td>
                </tr>
                <tr *ngFor="let licensure of employee.licensures; let index = index; trackBy: licensure">
                    <td class="text-center">
                        <button 
                            type="button" 
                            class="btn btn-default btn-xs" 
                            (click)="confirmDeleteAccreditation(employee.licensures, index, licensure)" 
                            [disabled]="isFormDisabled">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <button 
                            type="button" 
                            class="btn btn-default btn-xs" 
                            (click)="editAccreditation(licensure, index, 'Licensure')" 
                            [disabled]="isFormDisabled">
                            Edit
                        </button>
                    </td>
                    <td>{{ licensure.title }}</td>
                    <td>{{ licensure.dateAccredited | date : 'yyyy-MM-dd' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="mdlAccreditationInfo" tabindex="-1" role="dialog" aria-labelledby="lblFamilyInfo">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <form autocomplete="off">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="lblFamilyInfo">
                        Accreditation Information
                        <span *ngIf="isAccreditationFormDisabled"><strong>(Read-only mode)</strong></span>
                    </h4>
                </div>
                <div class="modal-body" *ngIf="accreditation && accreditationTypes">
                    <div class="row">
                        <div class="form-group">
                            <label for="slcAccreditationType">Accreditation Type</label>
                            <select 
                                type="text" 
                                id="txtAccreditationType" 
                                name="txtAccreditationType"
                                class="form-control"
                                [(ngModel)]="accreditationType"
                                [disabled]="isAccreditationFormDisabled">
                                <option *ngFor="let type of accreditationTypes" [value]="type">{{ type }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="txtAccreditationTitle">Title</label>
                            <input 
                                type="text" 
                                id="txtAccreditationTitle" 
                                name="txtAccreditationTitle"
                                class="form-control"
                                [(ngModel)]="accreditation.title"
                                [disabled]="isAccreditationFormDisabled">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-12 pad-left-0px">
                                <label for="dtAccreditationDateAccredited">Date Accredited</label>
                            </div>
                            <date-picker-component 
                                [(date)]="accreditation.dateAccredited" 
                                [disabled]="isAccreditationFormDisabled">
                            </date-picker-component>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" *ngIf="accreditationOperation === 1">
                    <button (click)="confirmCancelSave()" type="button" class="btn btn-default btn-sm">Cancel</button>
                    <button (click)="confirmUpdateAccreditation()" type="button" class="btn btn-primary btn-sm">Save</button>
                </div>
                <div class="modal-footer" *ngIf="accreditationOperation === 2">
                    <button (click)="confirmCancelAdd()" type="button" class="btn btn-default btn-sm">Cancel</button>
                    <button (click)="confirmAddAccreditation()" type="button" class="btn btn-primary btn-sm">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>