<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label for="txtPhoneNumber">
                Phone Numbers 
                <span *ngIf="employee.phoneNumbers.length <= 0">
                    <small>(<strong>No phone numbers yet</strong>)</small>
                </span>
                <button 
                    (click)="addPhoneNumber()"
                    [disabled]="isFormDisabled"
                    type="button" 
                    title="Add Phone Number" 
                    class="btn btn-primary btn-xs">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
            </label>
            <div class="row" *ngFor="let phoneNumber of employee.phoneNumbers">
                <div class="col-lg-1 text-center">
                    <button 
                        (click)="deletePhoneNumber(phoneNumber)"
                        [disabled]="isFormDisabled"
                        type="button" 
                        title="Add Phone Number" 
                        class="btn btn-danger btn-xs">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </div>
                <div class="col-lg-11">
                    <input 
                        type="text" 
                        class="form-control" 
                        id="txtPhoneNumber"
                        name="txtPhoneNumber" 
                        placeholder="Phone Number"
                        style="width:270px;"
                        [(ngModel)]="phoneNumber.number"
                        [disabled]="isFormDisabled">
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label for="txtLandline">
                Landlines
                <span *ngIf="employee.landlines.length <= 0">
                    <small>(<strong>No landlines yet</strong>)</small>
                </span>
                <button 
                    (click)="addLandline()"
                    [disabled]="isFormDisabled"
                    type="button" 
                    title="Add Phone Number" 
                    class="btn btn-primary btn-xs">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
            </label>
            <div class="row" *ngFor="let landline of employee.landlines">
                <div class="col-lg-1">
                   <button 
                        (click)="deleteLandline(landline)"
                        [disabled]="isFormDisabled"
                        type="button" 
                        title="Add Phone Number" 
                        class="btn btn-danger btn-xs">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button> 
                </div>
                <div class="col-lg-11">
                    <input 
                        type="text" 
                        class="form-control" 
                        id="txtLandline" 
                        name="txtLandline"
                        placeholder="Landline"
                        style="width:270px;"
                        [(ngModel)]="landline.number"
                        [disabled]="isFormDisabled">
                </div>
            </div>
        </div>
    </div>
</div>