<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
			<a class="navbar-brand" href="#">
				<img src="assets/img/logo.png" style="width: 70px; margin-bottom: 20px;">
			</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li *ngFor="let group of navigation.withGroup" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ group.group }} <span class="caret"></span>
                    </a>
					<ul class="dropdown-menu">
						<li *ngFor="let module of group.modules"><a [routerLink]="module.link">{{ module.moduleName }}</a></li>
					</ul>
				</li>
				<li *ngFor="let mod of navigation.withoutGroup"><a [routerLink]="mod.link">{{ mod.moduleName }}</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a (click)="viewProfile()" data-toggle="modal" data-target="#mdlUserProfile">{{ greetings }}</a></li>
				<li><a (click)="signOut()">Sign out</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container width-100" [hidden]="!validRoute">
	<router-outlet></router-outlet>

	<!-- User Profile Modal -->
	<div class="modal fade" id="mdlUserProfile" tabindex="-1" role="dialog" aria-labelledby="mdlUserProfileLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form autocomplete="off">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="mdlUserProfileLabel">User</h4>
					</div>

					<div class="modal-body" *ngIf="currentUser && positions.length">
						<div class="form-group">
							<label for="txtUsername">Username</label>
							<input 
								[(ngModel)]="currentUser.userName" 
								[disabled]="userProfileDisabled" 
								type="text" 
								name="txtUsername" 
								class="form-control"
								id="txtUsername" 
								placeholder="Username" 
								required>
						</div>
						<div class="form-group">
							<label for="txtFirstName">First Name</label>
							<input 
								[(ngModel)]="currentUser.firstName" 
								[disabled]="userProfileDisabled" 
								type="text" 
								name="txtFirstName" 
								class="form-control"
								id="txtFirstName" 
								placeholder="First Name" 
								requried>
						</div>
						<div class="form-group">
							<label for="txtMiddleName">Middle Name</label>
							<input 
								[(ngModel)]="currentUser.middleName" 
								[disabled]="userProfileDisabled" 
								type="text" 
								name="txtMiddleName" 
								class="form-control"
								id="txtMiddleName" 
								placeholder="Middle Name">
						</div>
						<div class="form-group">
							<label for="txtLastName">Last Name</label>
							<input 
								[(ngModel)]="currentUser.lastName" 
								[disabled]="userProfileDisabled" 
								type="text" 
								name="txtLastName" 
								class="form-control"
								id="txtLastName" 
								placeholder="Last Name" 
								required>
						</div>
						<div class="form-group" *ngIf="currentUser.position._id">
							<label for="txtPosition">Position</label>
							<select 
								[(ngModel)]="currentUser.position._id" 
								[disabled]="userProfileDisabled" 
								name="slcPosition" 
								class="form-control" 
								id="slcPosition"
								required>
                            <option *ngFor="let position of positions" [value]="position._id">{{ position.positionName }}</option>
                        </select>
						</div>
					</div>
					<div class="modal-footer">
						<button (click)="cancelEdit()" class="btn btn-default">Cancel</button>
						<button (click)="confirmUpdate()" type="button" class="btn btn-primary">Save</button>
						<button (click)="displayChangePassword()" type="button" class="btn btn-primary pull-left">Change Password</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Password Modal -->
	<div class="modal fade" id="mdlUserPassword" tabindex="-1" role="dialog" aria-labelledby="mdlUserPasswordLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form autocomplete="off">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="mdlUserPasswordLabel">User</h4>
					</div>

					<div class="modal-body" *ngIf="currentUser">
						<div class="form-group">
							<label for="txtPassword">Password</label>
							<input 
								[(ngModel)]="currentUser.password" 
								[disabled]="userProfileDisabled" 
								type="password" 
								name="txtPassword" 
								class="form-control"
								id="txtPassword" 
								placeholder="Password" 
								requried>
						</div>
					</div>

					<div class="modal-footer">
						<button (click)="displayUserProfile()" class="btn btn-default">Cancel</button>
						<button (click)="confirmUpdatePassword()" type="button" class="btn btn-primary">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>