<div class="ui raised very padded text container segment">

    <h2>Anthro</h2>

	<form class="ui form" autcomplete="on">
		
        <div class="field">
			<label>Username</label>
			<input type="text" name="first-name" placeholder="Username" required>
		</div>
		
        <div class="field">
			<label>Password</label>
			<input type="password" name="last-name" placeholder="Password" required>
		</div>
		
        <div class="field">
			<div class="ui checkbox">
				<input type="checkbox" class="hidden">
				<label>Remember me</label>
			</div>
		</div>
		
        <button class="ui button" type="submit">Submit</button>
	
    </form>

</div>