<div class="row">
	<div class="col-lg-12 module-header">
		<h2 class="text-center">Employee Information</h2>
		<hr/>
	</div>
</div>
<form>
	<!-- OVERVIEW -->
	<div class="row">
		<div class="col-lg-3">
			<ul class="nav nav-pills nav-stacked">
				<li class="active"><a data-toggle="pill" href="#general"><i class="glyphicon glyphicon-tags"></i>  General</a></li>
				<li><a data-toggle="pill" href="#employment"><i class="glyphicon glyphicon-folder-open"></i> Employment</a></li>
				<li><a data-toggle="pill" href="#contacts"><i class="glyphicon glyphicon-phone"></i> Contacts</a></li>
				<li><a data-toggle="pill" href="#address"><i class="glyphicon glyphicon-road"></i> Address</a></li>
				<li><a data-toggle="pill" href="#government-id"><i class="glyphicon glyphicon-th-list"></i> Government IDs</a></li>
				<li><a data-toggle="pill" href="#family"><i class="glyphicon glyphicon-heart"></i> Family</a></li>
				<li><a data-toggle="pill" href="#educational-background"><i class="glyphicon glyphicon-education"></i> Education</a></li>
				<li><a data-toggle="pill" href="#certifications"><i class="glyphicon glyphicon-certificate"></i> Certifications</a></li>
				<li><a data-toggle="pill" href="#licensure"><i class="glyphicon glyphicon-credit-card"></i> Licensures</a></li>
				<li><a data-toggle="pill" href="#work-history"><i class="glyphicon glyphicon-briefcase"></i> Work History</a></li>
			</ul>
		</div>
		<div class="col-lg-6">
			<div class="tab-content">
				<!-- GENERAL -->
				<div id="general" class="tab-pane fade  in active">
					<h3>General</h3>
					<hr>
					<div class="form-group">
						<label for="txtFirstName" class="col-lg-4">First Name*</label>
						<div class="col-lg-8 pad-bottom-10">
							<input [(ngModel)]="employee.firstName" name="txtFirstName" type="text" class="form-control" id="txtFirstName" placeholder="First Name"
								required>
						</div>
					</div>
					<div class="form-group">
						<label for="txtMiddleName" class="col-lg-4">Middle Name*</label>
						<div class="col-lg-8 pad-bottom-10">
							<input [(ngModel)]="employee.middleName" name="txtMiddleName" type="text" class="form-control" id="txtMiddleName" placeholder="Middle Name"
								required>
						</div>
					</div>
					<div class="form-group">
						<label for="txtLastName" class="col-lg-4">Last Name*</label>
						<div class="col-lg-8 pad-bottom-10">
							<input [(ngModel)]="employee.lastName" name="txtLastName" type="text" class="form-control" id="txtLastName" placeholder="Last Name"
								required>
						</div>
					</div>
					<div class="form-group">
						<label for="nbAge" class="col-lg-4">Age</label>
						<div class="col-lg-8 pad-bottom-10">
							<input [(ngModel)]="employee.age" name="nbAge" type="number" class="form-control" id="nbAge" placeholder="Age" disabled>
						</div>
					</div>
					<div class="form-group">
						<label for="txtBirthPlace" class="col-lg-4">Birth Place</label>
						<div class="col-lg-8 pad-bottom-10">
							<input [(ngModel)]="employee.birthPlace" name="txtBirthPlace" type="text" class="form-control" id="txtBirthPlace" placeholder="Birth Place">
						</div>
					</div>
					<div class="form-group">
						<label for="slcMaritalStatus" class="col-lg-4">Marital Status</label>
						<div class="col-lg-8 pad-bottom-10">
							<select [(ngModel)]="employee.maritalStatus" name="slcMaritalStatus" class="form-control" id="slcMaritalStatus">
								<option>Single</option>
								<option>Married</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="slcGender" class="col-lg-4">Gender</label>
						<div class="col-lg-8 pad-bottom-10">
							<select [(ngModel)]="employee.gender" name="slcGender" class="form-control" id="slcGender">
								<option>Male</option>
								<option>Female</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="txtCitizenship" class="col-lg-4">Citizenship</label>
						<div class="col-lg-8 pad-bottom-10">
							<input [(ngModel)]="employee.citizenship" name="txtCitizenship" type="text" class="form-control" id="txtCitizenship" placeholder="Citizenship">
						</div>
					</div>
				</div>
				<!-- EMPLOYMENT -->
				<div id="employment" class="tab-pane fade">
					<h3>Employment</h3>
					<hr>
					<div class="form-group">
						<label for="txtEmployeeEmail" class="col-lg-4">Employee Number</label>
						<div class="col-lg-8 pad-bottom-10">
							<input [(ngModel)]="employee.employeeNumber" name="txtEmployeeEmail" type="text" class="form-control" id="txtEmployeeEmail"
								placeholder="Employee Number">
						</div>
					</div>
					<div class="form-group">
						<label for="slcPosition" class="col-lg-4">Position</label>
						<div class="col-lg-8 pad-bottom-10">
							<select class="form-control" id="slcPosition">
								<option *ngFor="let position of positions" [value]="position._id">{{ position.positionName }}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="dtStartingDate" class="col-lg-4">Starting Date</label>
						<div class="col-lg-8 pad-bottom-10">
							<input [(ngModel)]="employee.startingDate" name="dtStartingDate" type="date" class="form-control" id="dtStartingDate" placeholder="Starting Date">
						</div>
					</div>
					<div class="form-group">
						<label for="nbSalary" class="col-lg-4">Salary</label>
						<div class="col-lg-8 pad-bottom-10">
							<input [(ngModel)]="employee.salary" name="nbSalary" type="number" step="any" class="form-control" id="nbSalary" placeholder="Salary">
						</div>
					</div>
					<div class="form-group">
						<label for="slcEmploymentStatus" class="col-lg-4">Employment Status</label>
						<div class="col-lg-8 pad-bottom-10">
							<select class="form-control" id="slcEmploymentStatus">
								<option *ngFor="let employmentStatus of employmentStatuses" [value]="employmentStatus._id">{{ employmentStatus.employmentStatus }}</option>
							</select>
						</div>
					</div>
				</div>
				<!-- CONTACTS -->
				<div id="contacts" class="tab-pane fade">
					<h3>Contact Information</h3>
					<hr>
					<div class="form-group">
						<label for="txtPhoneNumber" class="col-lg-4">
							Phone Numbers <button class="btn btn-success btn-xs" (click)="employee.addPhoneNumber()"><i class="fa fa-plus"></i></button>
						</label>
						<div class="col-lg-8 pad-bottom-10">
							<span *ngFor="let phoneNumber of employee.phoneNumbers">
								<input [(ngModel)]="phoneNumber.number" name="txtPhoneNumber" type="text" class="form-control" id="txtPhoneNumber" placeholder="Phone Number">
							</span>
						</div>
					</div>
					<div class="form-group">
						<label for="txtLandline" class="col-lg-4">
							Landlines <button (click)="employee.addLandline()" class="btn btn-success btn-xs"><i class="fa fa-plus"></i></button>
						</label>
						<div class="col-lg-8 pad-bottom-10">
							<span *ngFor="let landline of employee.landlines">
								<input [(ngModel)]="landline.number" name="txtLandline" type="text" class="form-control" id="txtLandline" placeholder="Landline">
							</span>
						</div>
					</div>
				</div>
				<!-- ADDRESS -->
				<div id="address" class="tab-pane fade">
					<h3>City Address</h3>
					<div class="checkbox">
						<label for="chkCityAddressIsPermanent">
							<input [(ngModel)]="employee.cityAddress.isPermanent" name="chkCityAddressIsPermanent" type="checkbox" id="chkCityAddressIsPermanent"> Permanent Address
						</label>
					</div>
					<div class="form-group">
						<label for="txtCityAddresstUnitFloor">
							Unit/Floor
						</label>
						<input [(ngModel)]="employee.cityAddress.unitFloor" name="txtCityAddresstUnitFloor" type="text" class="form-control" id="txtCityAddressUnitFloor"
							placeholder="Unit/Floor">
					</div>
					<div class="form-group">
						<label for="txtCityAddressBulding">
							Building
						</label>
						<input [(ngModel)]="employee.cityAddress.building" name="txtCityAddressBulding" type="text" class="form-control" id="txtCityAddressBulding"
							placeholder="Building">
					</div>
					<div class="form-group">
						<label for="txtCityAddressStreetName">
							Street Name
						</label>
						<input [(ngModel)]="employee.cityAddress.streetName" name="txtCityAddressStreetName" type="text" class="form-control" id="txtCityAddressStreetName"
							placeholder="Street Name">
					</div>
					<div class="form-group">
						<label for="txtCityAddressBarangay">
							Barangay
						</label>
						<input [(ngModel)]="employee.cityAddress.barangay" name="txtCityAddressBarangay" type="text" class="form-control" id="txtCityAddressBarangay"
							placeholder="Barangay">
					</div>
					<div class="form-group">
						<label for="txtCityAddressCity">
							City
						</label>
						<input [(ngModel)]="employee.cityAddress.city" name="txtCityAddressCity" type="text" class="form-control" id="txtCityAddressCity"
							placeholder="City">
					</div>
					<div class="form-group">
						<label for="txtCityAddressZipCode">
							Zip Code
						</label>
						<input [(ngModel)]="employee.cityAddress.zipCode" name="txtCityAddressZipCode" type="text" class="form-control" id="txtCityAddressZipCode"
							placeholder="Zip Code">
					</div>
					<h3>Provincial Address</h3>
					<div class="checkbox">
						<label for="chkProvincialAddressIsPermanent">
							<input [(ngModel)]="employee.provincialAddress.isPermanent" name="chkProvincialAddressIsPermanent" type="checkbox" id="chkProvincialAddressIsPermanent"> Permanent Address
						</label>
					</div>
					<div class="form-group">
						<label for="txtProvincialAddressUnitFloor">
							Unit/Floor
						</label>
						<input [(ngModel)]="employee.provincialAddress.unitFloor" name="txtProvincialAddressUnitFloor" type="text" class="form-control"
							id="txtUnitFloor" placeholder="Unit/Floor">
					</div>
					<div class="form-group">
						<label for="txtProvincialAddressBuilding">
							Building
						</label>
						<input [(ngModel)]="employee.provincialAddress.building" name="txtProvincialAddressBuilding" type="text" class="form-control"
							id="txtProvincialAddressBuilding" placeholder="Building">
					</div>
					<div class="form-group">
						<label for="txtProvincialAddressStreetName">
							Street Name
						</label>
						<input [(ngModel)]="employee.provincialAddress.streetName" name="txtProvincialAddressStreetName" type="text" class="form-control"
							id="txtStreetName" placeholder="Street Name">
					</div>
					<div class="form-group">
						<label for="txtProvincialAddressBarangay">
							Barangay
						</label>
						<input [(ngModel)]="employee.provincialAddress.barangay" name="txtProvincialAddressBarangay" type="text" class="form-control"
							id="txtProvincialAddressBarangay" placeholder="Barangay">
					</div>
					<div class="form-group">
						<label for="txtProvincialAddressCity">
							City
						</label>
						<input [(ngModel)]="employee.provincialAddress.city" name="txtProvincialAddressCity" type="text" class="form-control" id="txtProvincialAddressCity"
							placeholder="City">
					</div>
					<div class="form-group">
						<label for="txtPronvincialAddressZipCode">
							Zip Code
						</label>
						<input [(ngModel)]="employee.provincialAddress.zipCode" name="txtPronvincialAddressZipCode" type="text" class="form-control"
							id="txtPronvincialAddressZipCode" placeholder="Zip Code">
					</div>
					<h3>Permanent Address</h3>
					<div class="form-group">
						<label for="txtPermanentAddressUnitFloor">
							Unit/Floor
						</label>
						<input [(ngModel)]="employee.permanentAddress.unitFloor" name="txtPermanentAddressUnitFloor" type="text" class="form-control"
							id="txtPermanentAddressUnitFloor" placeholder="Unit/Floor">
					</div>
					<div class="form-group">
						<label for="txtPermanentAddressBuilding">
							Building
						</label>
						<input [(ngModel)]="employee.permanentAddress.building" name="txtPermanentAddressBuilding" type="text" class="form-control"
							id="txtPermanentAddressBuilding" placeholder="Building">
					</div>
					<div class="form-group">
						<label for="txtPermanentAddressStreetName">
							Street Name
						</label>
						<input [(ngModel)]="employee.permanentAddress.streetName" name="txtPermanentAddressStreetName" type="text" class="form-control"
							id="txtPermanentAddressStreetName" placeholder="Street Name">
					</div>
					<div class="form-group">
						<label for="txtPermanentAddressBarangay">
							Barangay
						</label>
						<input [(ngModel)]="employee.permanentAddress.barangay" name="txtPermanentAddressBarangay" type="text" class="form-control"
							id="txtPermanentAddressBarangay" placeholder="Barangay">
					</div>
					<div class="form-group">
						<label for="txtPermanentAddressCity">
							City
						</label>
						<input [(ngModel)]="employee.permanentAddress.city" name="txtPermanentAddressCity" type="text" class="form-control" id="txtPermanentAddressCity"
							placeholder="City">
					</div>
					<div class="form-group">
						<label for="txtPermanentAddressZipCode">
							Zip Code
						</label>
						<input [(ngModel)]="employee.permanentAddress.zipCode" name="txtPermanentAddressZipCode" type="text" class="form-control"
							id="txtPermanentAddressZipCode" placeholder="Zip Code">
					</div>
				</div>
				<!-- GOVERNMENT IDs -->
				<div id="government-id" class="tab-pane fade">
					<h3>Government IDs</h3>
					<hr>
					<div class="form-group">
						<label for="txtSsNumber" class="col-lg-4">
							SSS Number
						</label>
						<div class="col-lg-8 pad-bottom-10">
							<input [(ngModel)]="employee.ssNumber" name="txtSsNumber" type="text" class="form-control" id="txtSsNumber" placeholder="SS Number">
						</div>
					</div>
					<div class="form-group">
						<label for="txtTinNumber" class="col-lg-4">
							TIN Number
						</label>
						<div class="col-lg-8 pad-bottom-10">
							<input [(ngModel)]="employee.tinNumber" name="txtTinNumber" type="text" class="form-control" id="txtTinNumber" placeholder="TIN Number">
						</div>
					</div>
					<div class="form-group">
						<label for="txtPhilHealthNumber" class="col-lg-4">
							PhilHealth Number
						</label>
						<div class="col-lg-8 pad-bottom-10">
							<input [(ngModel)]="employee.philHealthNumber" name="txtPhilHealthNumber" type="text" class="form-control" id="txtPhilHealthNumber"
								placeholder="PhilHealth Number">
						</div>
					</div>
					<div class="form-group">
						<label for="txtPagibigNumber" class="col-lg-4">
							PAGIBIG Number
						</label>
						<div class="col-lg-8 pad-bottom-10">
							<input [(ngModel)]="employee.pagibigNumber" name="txtPagibigNumber" type="text" class="form-control" id="txtPagibigNumber"
								placeholder="PAGIBIG Number">
						</div>
					</div>
				</div>
				<!-- EDUCATIONAL BACKGROUND -->
				<div id="education-background" class="tab-pane fade">
					<h3>Educational Background</h3>
					<hr/>
					<p>
						<button (click)="employee.addEducationHistory()" type="button" class="btn btn-success btn-xs">
							<span class="glyphicon glyphicon-plus"></span> Add
						</button>
					</p>
					<table class="table table-condensed">
						<thead>
							<th></th>
							<th>Education Level</th>
							<th>Degree</th>
							<th>Date of Graduation</th>
						</thead>
						<tbody>
							<tr *ngFor="let education of employee.educationHistory">
								<td>
									<button (click)="employee.deleteEducationHistory(education)" type="button" class="btn btn-danger btn-xs">
										<span class="glyphicon glyphicon-trash"></span>
									</button>
								</td>
								<td><input [(ngModel)]="education.educationLevel" name="txtEducationLevel" type="text" class="form-control"></td>
								<td><input [(ngModel)]="education.degree" name="txtEducationDegree" type="text" class="form-control"></td>
								<td><input [(ngModel)]="education.dateGraduated" name="txtEducationDateGraduated" type="date" class="form-control"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- CERTIFICATIONS -->
				<div id="certifications" class="tab-pane fade">
					<h3>Certifications</h3>
					<hr>
					<table class="table table-condensed">
						<thead>
							<th></th>
							<th>Title</th>
							<th>Date Accredited</th>
						</thead>
						<tbody>
							<tr *ngFor="let certification of employee.certifications">
								<td>
									<button (click)="employee.deleteCertification(certification)" type="button" class="btn btn-dagner btn-xs"></button>
								</td>
								<td><input [(ngModel)]="certification.title" name="txtCertificationTitle" type="text" class="form-control"></td>
								<td><input [(ngModel)]="certification.dateAccredited" name="txtCertificationDateAccredited" type="text" class="form-control"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- LICENSURES -->
				<div id="licensure" class="tab-pane fade">
					<h3>License</h3>
					<hr>
					<table class="table table-condensed">
						<thead>
							<th></th>
							<th>Title</th>
							<th>Date Accredited</th>
						</thead>
						<tbody>
							<tr *ngFor="let licensure of employee.licensures">
								<td>
									<button (click)="employee.deleteLicensure(licensure)" type="button" class="btn btn-danger btn-xs"></button>
								</td>
								<td><input [(ngModel)]="licensure.title" name="txtLicensureTitle" type="text" class="form-control"></td>
								<td><input [(ngModel)]="licensure.dateAccredited" name="txtLicensureDateAccredited" type="text" class="form-control"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- WORK HISTORY -->
				<div id="work-history" class="tab-pane fade ">
					<h3>Employment History</h3>
					<hr>
					<span *ngFor="let workHistory of employee.workHistory">
						<button (click)="employee.deleteWorkHistory(workHistory)" type="button" class="btn btn-danger btn-xs">Delete</button><br/>
									
						<div class="form-group">
							<label for="txtWorkHistoryPosition" class="col-lg-4">
								Position
							</label>
							<div class="col-lg-8 pad-bottom-10">
								<input [(ngModel)]="workHistory.position" name="txtWorkHistoryPosition" type="text" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label for="txtWorkHistoryCompanyName" class="col-lg-4">
								Company Name
							</label>
							<div class="col-lg-8 pad-bottom-10">
								<input [(ngModel)]="workHistory.companyName" name="txtWorkHistoryCompanyName" type="text" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label for="txtWorkHistoryDateFrom" class="col-lg-2">
								From
							</label>
							<div class="col-lg-4" style="padding-bottom:10px">
								<input [(ngModel)]="workHistory.dateFrom" name="txtWorkHistoryDateFrom" type="date" class="form-control">	
							</div>
						</div>
						<div class="form-group">
							<label for="txtWorkHistoryDateTo" class="col-lg-2">
								To
							</label>
							<div class="col-lg-4" style="padding-bottom:10px">
								<input [(ngModel)]="workHistory.dateTo" name="txtWorkHistoryDateTo" type="date" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label for="txtWorkHistoryEmploymentStatus" class="col-lg-2">
								Status
							</label>
							<div class="col-lg-4" style="padding-bottom:10px">
								<input [(ngModel)]="workHistory.employmentStatus.employmentStatus" name="txtWorkHistoryEmploymentStatus" type="text"
										class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label for="txtWorkHistorySalary" class="col-lg-2">
								Salary
							</label>
							<div class="col-lg-4" style="padding-bottom:10px">
								<input [(ngModel)]="workHistory.salary" name="txtWorkHistorySalary" type="number" step="any" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label for="txtWorkHistoryReasonForLeaving" class="col-lg-4">
								Reason For Leaving
							</label>
							<div class="col-lg-8 pad-bottom-10">
								<input [(ngModel)]="workHistory.reasonForLeaving" name="txtWorkHistoryReasonForLeaving" type="text" class="form-control">
							</div>
						</div>
					</span>
				</div>
				<!-- Family -->
				<div id="family" class="tab-pane fade ">
					<h3>
						Family
						<button type="button" title="Add Family" class="btn btn-primary btn-xs">
							<i class="glyphicon glyphicon-plus"></i>
						</button>
					</h3>
					<hr>
					<div class="form-group">
						<label for="txtFamilyFirstName" class="col-lg-4">
							First Name: 
						</label>
						<div class="col-lg-8 pad-bottom-10">
							<input [(ngModel)]="employee.fathersInfo.firstName" name="txtFamilyFirstName" type="text" class="form-control" id="txtFamilyFirstName"
								placeholder="First Name">
						</div>
					</div>
					<div class="form-group">
						<label for="txtFamilyMiddleName" class="col-lg-4">
							Middle Name: 
						</label>
						<div class="col-lg-8 pad-bottom-10">
							<input [(ngModel)]="employee.fathersInfo.middleName" name="txtFamilyMiddleName" type="text" class="form-control" id="txtFamilyMiddleName"
								placeholder="Middle Name'">
						</div>
					</div>
					<div class="form-group">
						<label for="txtFamilyLastName" class="col-lg-4">
							Last Name: 
						</label>
						<div class="col-lg-8 pad-bottom-10">
							<input [(ngModel)]="txtFathersLastName" name="txtFamilyLastName" type="text" class="form-control" id="txtFamilyLastName"
								placeholder="Last Name'">
						</div>
					</div>
					<div class="form-group">
						<label for="txtFathersOccupation" class="col-lg-4">
							Occupation:
						</label>
						<div class="col-lg-8 pad-bottom-10">
							<input [(ngModel)]="employee.fathersInfo.occupation" name="txtFathersOccupation" type="text" class="form-control" id="txtFathersOccupation"
								placeholder="Occupation">
						</div>
					</div>
					<div class="form-group">
						<label for="txtFamilyRelationship" class="col-lg-4">
							Relationship:
						</label>
						<div class="col-lg-8 pad-bottom-10">
							<input name="txtFamilyRelationship" type="text" class="form-control" id="txtFamilyRelationship" placeholder="Relationship">
						</div>
					</div>
				</div>
			</div>

			<div class="form-group text-center pad-top-10">
				<span><button type="button" class="btn btn-primary"><i class="fa fa-check"></i> Save</button></span>
				<span><button type="button" class="btn btn-default"><i class="fa fa-undo"></i> Reset</button></span>
			</div>
		</div>
	</div>
</form>