<div class="row">
    <div class="col-lg-3">
        <div class="form-group">
            <label for="txtEmployeeNumber">Employee Number</label>
            <input type="text" class="form-control" id="txtEmployeeNumber" name="txtEmployeeNumber" placeholder="Employee Number" [(ngModel)]="employee.employeeNumber"
                [disabled]="isFormDisabled">
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label for="slcPosition">Position</label>
            <select class="form-control" id="slcPosition" name="slcPosition" [(ngModel)]="employee.position._id" [disabled]="isFormDisabled">
                <option *ngFor="let position of positions" [value]="position._id">
                    {{ position.positionName }}
                </option>
            </select>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label for="dtStartingDate">Starting Date</label>
            <input type="date" class="form-control" id="dtStartingDate" name="dtStartingDate" [value]="employee.startingDate | date:'yyyy-mm-dd'"
                (input)="employee.startingDate = $event.target.value" [disabled]="isFormDisabled">
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label for="slcCompany">Company</label>
            <select class="form-control" id="slcCompany" name="slcCompany" [(ngModel)]="employee.company._id" [disabled]="isFormDisabled">
                <option
                    *ngFor="let company of companies" 
                    [value]="company._id">
                    {{ company.companyName }}
                </option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="form-group">
            <label for="nbSalary">Salary</label>
            <input type="number" class="form-control" id="nbSalary" name="dbSalary" [(ngModel)]="employee.salary" [disabled]="isFormDisabled">
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label for="slcEmploymentStatus">Employment Status</label>
            <select class="form-control" id="slcEmploymentStatus" name="slcEmploymentStatus" [(ngModel)]="employee.employmentStatus._id"
                [disabled]="isFormDisabled">
                <option
                    *ngFor="let employmentStatus of employmentStatuses" 
                    [value]="employmentStatus._id">
                    {{ employmentStatus.employmentStatus }}
                </option>
            </select>
        </div>
    </div>
</div>