<div class="modal fade" [id]="id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" *ngIf="loadingCompanies || loadingPositions || loadingEmploymentStatuses">
                Loading resources... Please wait
            </div>
            <form autocomplete="off" *ngIf="employee && !loadingCompanies && !loadingPositions && !loadingEmploymentStatuses">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        Employee Information
                        <span *ngIf="isFormDisabled"><strong>(Read-only mode)</strong></span>
                    </h4>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#personal" aria-controls="personal" role="tab" data-toggle="tab">Personal</a>
                        </li>
                        <li role="presentation">
                            <a href="#employment" aria-controls="employment" role="tab" data-toggle="tab">Employment</a>
                        </li>
                        <li role="presentation">
                            <a href="#contacts" aria-controls="contacts" role="tab" data-toggle="tab">Contacts</a>
                        </li>
                        <li role="presentation">
                            <a href="#address" aria-controls="address" role="tab" data-toggle="tab">Address</a>
                        </li>
                        <li role="presentation">
                            <a href="#government" aria-controls="government" role="tab" data-toggle="tab">Government</a>
                        </li>
                        <li role="presentation">
                            <a href="#family" aria-controls="family" role="tab" data-toggle="tab">Family</a>
                        </li>
                        <li role="presentation">
                            <a href="#education" aria-controls="education" role="tab" data-toggle="tab">Education</a>
                        </li>
                        <li role="presentation">
                            <a href="#work" aria-controls="work" role="tab" data-toggle="tab">Work</a>
                        </li>
                        <li role="presentation">
                            <a href="#accreditations" aria-controls="accreditations" role="tab" data-toggle="tab">Accreditations</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane tab-gap active" id="personal">
                            <employee-personal-component [operation]="operation" [employee]="employee" [isFormDisabled]="isFormDisabled"></employee-personal-component>                      
                        </div>
                        <div role="tabpanel" class="tab-pane tab-gap" id="employment">
                             <employee-employment-component [operation]="operation" [employee]="employee" [isFormDisabled]="isFormDisabled"></employee-employment-component>                      
                        </div>
                        <div role="tabpanel" class="tab-pane tab-gap" id="contacts">
                             <employee-contacts-component [operation]="operation" [employee]="employee" [isFormDisabled]="isFormDisabled"></employee-contacts-component>          
                        </div>
                        <div role="tabpanel" class="tab-pane tab-gap" id="address">
                            <employee-address-component [operation]="operation" [employee]="employee" [isFormDisabled]="isFormDisabled"></employee-address-component>        
                        </div>
                        <div role="tabpanel" class="tab-pane tab-gap" id="government">
                            <employee-government-component [operation]="operation" [employee]="employee" [isFormDisabled]="isFormDisabled"></employee-government-component>
                        </div>
                        <div role="tabpanel" class="tab-pane tab-gap" id="family">
                            <employee-family-component [operation]="operation" [employee]="employee"></employee-family-component>
                        </div>
                        <div role="tabpanel" class="tab-pane tab-gap" id="education">
                            <employee-education-component [operation]="operation" [employee]="employee" [isFormDisabled]="isFormDisabled"></employee-education-component>
                        </div>
                        <div role="tabpanel" class="tab-pane tab-gap" id="work">
                            <employee-work-history-component [operation]="operation" [employee]="employee" [isFormDisabled]="isFormDisabled"></employee-work-history-component>
                        </div>
                        <div role="tabpanel" class="tab-pane tab-gap" id="accreditations">
                            <employee-accreditation-component [operation]="operation" [employee]="employee" [isFormDisabled]="isFormDisabled"></employee-accreditation-component>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" *ngIf="operation === 0">
                    <button (click)="edit()" type="button" class="btn btn-primary">Edit</button>
                    <button (click)="confirmDelete()" type="button" class="btn btn-default pull-left">
                        <i class="glyphicon glyphicon-warning-sign"></i> Delete
                    </button>
                </div>
                <div class="modal-footer" *ngIf="operation === 1">
                    <button (click)="cancelEdit()" type="button" class="btn btn-default" [disabled]="isFormDisabled">Cancel</button>
                    <button (click)="confirmSave()" type="button" class="btn btn-primary" [disabled]="isFormDisabled">Save</button>
                </div>
                <div class="modal-footer" *ngIf="operation === 2">
                    <button (click)="cancelAdd()" type="button" class="btn btn-default" [disabled]="isFormDisabled">Cancel</button>
                    <button (click)="confirmAdd()" type="button" class="btn btn-primary" [disabled]="isFormDisabled">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>