<div class="modal fade" [id]="id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body" *ngIf="loadingCompanies || loadingPositions || loadingEmploymentStatuses">
                Loading resources... Please wait
            </div>
            <form autocomplete="off" *ngIf="employee && !loadingCompanies && !loadingPositions && !loadingEmploymentStatuses">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        Employee Information
                        <span *ngIf="isFormDisabled"><strong>(Read-only mode)</strong></span>
                    </h4>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a>
                        </li>
                        <li role="presentation">
                            <a href="#employment" aria-controls="employment" role="tab" data-toggle="tab">Employment</a>
                        </li>
                        <li role="presentation">
                            <a href="#contacts" aria-controls="contacts" role="tab" data-toggle="tab">Contacts</a>
                        </li>
                        <li role="presentation">
                            <a href="#address" aria-controls="address" role="tab" data-toggle="tab">Address</a>
                        </li>
                        <li role="presentation">
                            <a href="#government" aria-controls="government" role="tab" data-toggle="tab">Government</a>
                        </li>
                        <li role="presentation">
                            <a href="#family" aria-controls="family" role="tab" data-toggle="tab">Family</a>
                        </li>
                        <li role="presentation">
                            <a href="#education" aria-controls="education" role="tab" data-toggle="tab">Education</a>
                        </li>
                        <li role="presentation">
                            <a href="#work" aria-controls="work" role="tab" data-toggle="tab">Work</a>
                        </li>
                        <li role="presentation">
                            <a href="#accreditations" aria-controls="accreditations" role="tab" data-toggle="tab">Accreditations</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane tab-gap active" id="general">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="txtFirstName">First Name</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtFirstName" 
                                            name="txtFirstName" 
                                            placeholder="First Name" 
                                            [(ngModel)]="employee.firstName"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="txtMiddleName">Middle Name</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtMiddleName" 
                                            name="txtMiddleName" 
                                            placeholder="Middle Name"
                                            [(ngModel)]="employee.middleName"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="txtLastName">Last Name</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtLastName" 
                                            name="txtLastName" 
                                            placeholder="Last Name"
                                            [(ngModel)]="employee.lastName"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="slcGender">Gender</label>
                                        <select 
                                            class="form-control" 
                                            id="slcGender"
                                            name="slcGender" 
                                            [(ngModel)]="employee.gender"
                                            [disabled]="isFormDisabled">
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="txtCitizenship">Citizenship</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtCitizenship"
                                            name="txtCitizenship"
                                            placeholder="Citizenship"
                                            [(ngModel)]="employee.citizenship"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="dtBirthDate">Birth Date</label>
                                        <input
                                            type="date" 
                                            class="form-control" 
                                            id="dtBirthDate"
                                            name="dtBirthDate"
                                            (input)="employee.birthDate = parseDate($event.target.value)"
                                            (change)="computeAge(employee)"
                                            [value]="employee.birthDate | date : 'yyyy-MM-dd'"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="nbAge">Age</label>
                                        <input 
                                            type="number" 
                                            class="form-control" 
                                            id="nbAge" 
                                            name="ngAge"
                                            [value]="employee.age"
                                            disabled>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="txtBirthPlace">Birth Place</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtBirthPlace"
                                            name="txtBirthPlace"
                                            placeholder="Birth Place"
                                            [(ngModel)]="employee.birthPlace"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                            <label for="slcMaritalStatus">Marital Status</label>
                                            <select 
                                                class="form-control"
                                                id="slcMaritalStatus"
                                                name="slcMaritalStatus" 
                                                [(ngModel)]="employee.maritalStatus"
                                                [disabled]="isFormDisabled">
                                                <option>Single</option>
                                                <option>Married</option>
                                            </select>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane tab-gap" id="employment">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="txtEmployeeNumber">Employee Number</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtEmployeeNumber"
                                            name="txtEmployeeNumber"
                                            placeholder="Employee Number"
                                            [(ngModel)]="employee.employeeNumber"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="slcPosition">Position</label>
                                        <select 
                                            class="form-control" 
                                            id="slcPosition"
                                            name="slcPosition"
                                            [(ngModel)]="employee.position._id"
                                            [disabled]="isFormDisabled">
                                            <option *ngFor="let position of positions" [value]="position._id">
                                                {{ position.positionName }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="dtStartingDate">Starting Date</label>
                                        <input 
                                            type="date" 
                                            class="form-control" 
                                            id="dtStartingDate" 
                                            name="dtStartingDate"
                                            [value]="employee.startingDate | date:'yyyy-mm-dd'"
                                            (input)="employee.startingDate = $event.target.value"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="slcCompany">Company</label>
                                        <select 
                                            class="form-control" 
                                            id="slcCompany" 
                                            name="slcCompany"
                                            [(ngModel)]="employee.company._id"
                                            [disabled]="isFormDisabled">
                                            <option
                                                *ngFor="let company of companies" 
                                                [value]="company._id">
                                                {{ company.companyName }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="nbSalary">Salary</label>
                                        <input 
                                            type="number" 
                                            class="form-control" 
                                            id="nbSalary"
                                            name="dbSalary"
                                            [(ngModel)]="employee.salary"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="slcEmploymentStatus">Employment Status</label>
                                        <select 
                                            class="form-control" 
                                            id="slcEmploymentStatus" 
                                            name="slcEmploymentStatus" 
                                            [(ngModel)]="employee.employmentStatus._id"
                                            [disabled]="isFormDisabled">
                                            <option
                                                *ngFor="let employmentStatus of employmentStatuses" 
                                                [value]="employmentStatus._id">
                                                {{ employmentStatus.employmentStatus }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>               
                        </div>
                        <div role="tabpanel" class="tab-pane tab-gap" id="contacts">
                             <employee-contacts-component [operation]="operation" [employee]="employee" [isFormDisabled]="isFormDisabled"></employee-contacts-component>          
                        </div>
                        <div role="tabpanel" class="tab-pane tab-gap" id="address">
                            <employee-address-component [operation]="operation" [employee]="employee" [isFormDisabled]="isFormDisabled"></employee-address-component>        
                        </div>
                        <div role="tabpanel" class="tab-pane tab-gap" id="government">
                            <employee-government-component [operation]="operation" [employee]="employee" [isFormDisabled]="isFormDisabled"></employee-government-component>
                        </div>
                        <div role="tabpanel" class="tab-pane tab-gap" id="family">
                            <employee-family-component [operation]="operation" [employee]="employee"></employee-family-component>
                        </div>
                        <div role="tabpanel" class="tab-pane tab-gap" id="education">
                            <employee-education-component [operation]="operation" [employee]="employee" [isFormDisabled]="isFormDisabled"></employee-education-component>
                        </div>
                        <div role="tabpanel" class="tab-pane tab-gap" id="work">
                            <employee-work-history-component [operation]="operation" [employee]="employee" [isFormDisabled]="isFormDisabled"></employee-work-history-component>
                        </div>
                        <div role="tabpanel" class="tab-pane tab-gap" id="accreditations">
                            <employee-accreditation-component [operation]="operation" [employee]="employee" [isFormDisabled]="isFormDisabled"></employee-accreditation-component>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" *ngIf="operation === 0">
                    <button (click)="edit()" type="button" class="btn btn-primary">Edit</button>
                    <button (click)="confirmDelete()" type="button" class="btn btn-default pull-left">
                        <i class="glyphicon glyphicon-warning-sign"></i> Delete
                    </button>
                </div>
                <div class="modal-footer" *ngIf="operation === 1">
                    <button (click)="cancelEdit()" type="button" class="btn btn-default" [disabled]="isFormDisabled">Cancel</button>
                    <button (click)="confirmSave()" type="button" class="btn btn-primary" [disabled]="isFormDisabled">Save</button>
                </div>
                <div class="modal-footer" *ngIf="operation === 2">
                    <button (click)="cancelAdd()" type="button" class="btn btn-default" [disabled]="isFormDisabled">Cancel</button>
                    <button (click)="confirmAdd()" type="button" class="btn btn-primary" [disabled]="isFormDisabled">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>