<div class="modal fade" [id]="id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form autocomplete="off" *ngIf="employee">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        Employee Information
                        <span *ngIf="isFormDisabled"><strong>(Read-only mode)</strong></span>
                    </h4>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li *ngFor="let key of tabKeys" role="presentation" [class.active]="tabs[key].active">
                            <a [href]="tabs[key].href" role="tab" data-toggle="tab">
                                {{ tabs[key].name }}
                                <span class="badge" *ngIf="tabs[key].badge > 0">{{ tabs[key].badge }}</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane tab-gap fade in active" id="personal">
                            <employee-personal-component 
                                [operation]="operation" 
                                [isFormDisabled]="isFormDisabled"
                                [employee]="employee">
                            </employee-personal-component>                      
                        </div>
                        <div role="tabpanel" class="tab-pane tab-gap fade" id="employment">
                             <employee-employment-component 
                                [operation]="operation" 
                                [isFormDisabled]="isFormDisabled"
                                [employee]="employee">
                            </employee-employment-component>                      
                        </div>
                        <div role="tabpanel" class="tab-pane tab-gap fade" id="contacts">
                             <employee-contacts-component 
                                [operation]="operation" 
                                [isFormDisabled]="isFormDisabled" 
                                [employee]="employee">
                            </employee-contacts-component>          
                        </div>
                        <div role="tabpanel" class="tab-pane tab-gap fade" id="address">
                            <employee-address-component 
                                [operation]="operation" 
                                [isFormDisabled]="isFormDisabled" 
                                [employee]="employee">
                            </employee-address-component>        
                        </div>
                        <div role="tabpanel" class="tab-pane tab-gap fade" id="government">
                            <employee-government-component 
                                [operation]="operation" 
                                [isFormDisabled]="isFormDisabled" 
                                [employee]="employee">
                            </employee-government-component>
                        </div>
                        <div role="tabpanel" class="tab-pane tab-gap fade" id="family">
                            <employee-family-component 
                                [mainModalId]="id"
                                [operation]="operation"
                                [isFormDisabled]="isFormDisabled" 
                                [employee]="employee">
                            </employee-family-component>
                        </div>
                        <div role="tabpanel" class="tab-pane tab-gap fade" id="education">
                            <employee-education-component 
                                [operation]="operation" 
                                [isFormDisabled]="isFormDisabled" 
                                [employee]="employee">
                            </employee-education-component>
                        </div>
                        <div role="tabpanel" class="tab-pane tab-gap fade" id="work">
                            <employee-work-history-component 
                                [operation]="operation" 
                                [isFormDisabled]="isFormDisabled" 
                                [(employee)]="employee">
                            </employee-work-history-component>
                        </div>
                        <div role="tabpanel" class="tab-pane tab-gap fade" id="accreditations">
                            <employee-accreditation-component 
                                [operation]="operation"
                                [isFormDisabled]="isFormDisabled" 
                                [employee]="employee">
                            </employee-accreditation-component>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" *ngIf="operation === 0">
                    <button (click)="edit()" type="button" class="btn btn-primary">Edit</button>
                    <button (click)="confirmDelete()" type="button" class="btn btn-default pull-left">
                        <i class="glyphicon glyphicon-warning-sign"></i> Delete
                    </button>
                </div>
                <div class="modal-footer" *ngIf="operation === 1">
                    <button (click)="confirmCancelUpdate()" [disabled]="isFormDisabled" type="button" class="btn btn-default">Cancel</button>
                    <button (click)="confirmUpdate()" [disabled]="isFormDisabled" type="button" class="btn btn-primary">Save</button>
                </div>
                <div class="modal-footer" *ngIf="operation === 2">
                    <button (click)="cancelAdd()" [disabled]="isFormDisabled" type="button" class="btn btn-default">Cancel</button>
                    <button (click)="confirmAdd()" [disabled]="isFormDisabled" type="button" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>