<div class="row" *ngIf="!loadingEmployees" style="margin-bottom: 50px;">  
    <div class="col-lg-3">
        <input 
            name="txtSearchKeyword" 
            type="text" 
            class="form-control" 
            placeholder="Type in keyword here..." 
            [(ngModel)]="searchFilter">
    </div>
    <div class="col-lg-offset-8"></div>
    <div class="col-lg-1">
        <button (click)="add()" class="btn btn-primary btn-block btn-sm">Add</button>
    </div>
</div>
<div class="row">
    <div *ngIf="loadingEmployees" class="text-center">
        <img src="assets/img/spin.svg">
        <br>
        Loading... Please wait
    </div>
    <table *ngIf="!loadingEmployees" class="table table-bordered table-striped table-hover table-condensed">
        <thead>
            <th></th>
            <th class="text-center">Company</th>
            <th class="text-center">Employee No</th>
            <th class="text-center">First Name</th>
            <th class="text-center">Middle Name</th>
            <th class="text-center">Last Name</th>
            <th class="text-center">Position</th>
            <th class="text-center">Salary</th>
            <th class="text-center">Employment Status</th>
            <th class="text-center">Birth Date</th>
            <th class="text-center">SS Number</th>
            <th class="text-center">Philhealth Number</th>
            <th class="text-center">TIN Number</th>
            <th class="text-center">PAG-IBIG Number</th>
        </thead>
        <tbody>
            <tr *ngIf="employees.length <= 0 && !loadingEmployees">
                <td colspan="14" class="text-center">Sorry, no records found</td>
            </tr>
            <tr *ngFor="let employee of (employees | employeeFilter: searchFilter)">
                <td>
                    <button (click)="view(employee)" class="btn btn-primary btn-xs" title="View information">
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </button>
                </td>
                <td>
                    <span *ngIf="employee.company">
                        {{ employee.company.companyName }}
                    </span>
                </td>
                <td>{{ employee.employeeNumber }}</td>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.middleName }}</td>
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.position.positionName }}</td>
                <td>{{ employee.salary | currency : 'PHP' : true : '1.2-2' }}</td>
                <td>{{ employee.employmentStatus.employmentStatus }}</td>
                <td>{{ employee.birthDate | date: 'MM/dd/yyyy' }}</td>
                <td>{{ employee.ssNumber }}</td>
                <td>{{ employee.philHealthNumber }}</td>
                <td>{{ employee.tinNumber }}</td>
                <td>{{ employee.pagibigNumber }}</td>
            </tr>
        </tbody>
    </table>
</div>
<employee-info-component 
    [id]="modal.id" 
    [operation]="operation" 
    [isFormDisabled]="isFormDisabled"
    [employee]="currentEmployee">
</employee-info-component>