<div class="row">
    <div class="col-lg-12 module-header">
        <h2 class="text-center">Employee List</h2>
        <hr>
    </div>
</div>
<div class="row" style="margin-bottom: 50px;">  
    <div class="col-lg-2">
        <button (click)="add()" class="btn btn-primary btn-sm">Add</button>
    </div>
    <div class="col-lg-offset-8 col-lg-2">
        <input 
            name="txtSearchKeyword" 
            type="text" 
            class="form-control" 
            placeholder="Type in keyword here..." 
            [(ngModel)]="searchFilter">
    </div>
</div>
<employee-info-component [id]="modal.id" [operation]="operation" [employee]="currentEmployee"></employee-info-component>
<div class="row">
    <table class="table table-bordered table-striped table-hover table-condensed">
        <thead>
            <th></th>
            <th class="text-center">Company</th>
            <th class="text-center">Employee No</th>
            <th class="text-center">First Name</th>
            <th class="text-center">Middle Name</th>
            <th class="text-center">Last Name</th>
            <th class="text-center">Position</th>
            <th class="text-center">Salary</th>
            <th class="text-center">Employment Status</th>
            <th class="text-center">Birth Date</th>
            <th class="text-center">SS Number</th>
            <th class="text-center">Philhealth Number</th>
            <th class="text-center">TIN Number</th>
            <th class="text-center">PAG-IBIG Number</th>
        </thead>
        <tbody>
            <tr *ngIf="employees.length <= 0 && !loadingEmployees">
                <td colspan="14" class="text-center">Sorry, no records found</td>
            </tr>
            <tr *ngFor="let employee of (employees | employeeFilter: searchFilter)">
                <td>
                    <button (click)="view(employee)" class="btn btn-primary btn-xs" title="View information">
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </button>
                </td>
                <td>
                    <span *ngIf="employee.company">
                        {{ employee.company.companyName }}
                    </span>
                </td>
                <td>{{ employee.employeeNumber }}</td>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.middleName }}</td>
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.position.positionName }}</td>
                <td>{{ employee.salary | currency : 'PHP' : true : '1.2-2' }}</td>
                <td>{{ employee.employmentStatus.employmentStatus }}</td>
                <td>{{ employee.birthDate | date: 'MM/dd/yyyy' }}</td>
                <td>{{ employee.ssNumber }}</td>
                <td>{{ employee.philHealthNumber }}</td>
                <td>{{ employee.tinNumber }}</td>
                <td>{{ employee.pagibigNumber }}</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Modal -->
<!--<div class="modal fade" id="mdlModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form autocomplete="off" *ngIf="currentEmployee">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        Employee Information
                        <span *ngIf="isFormDisabled"><strong>(Read-only mode)</strong></span>
                    </h4>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a>
                        </li>
                        <li role="presentation">
                            <a href="#employment" aria-controls="employment" role="tab" data-toggle="tab">Employment</a>
                        </li>
                        <li role="presentation">
                            <a href="#contacts" aria-controls="contacts" role="tab" data-toggle="tab">Contacts</a>
                        </li>
                        <li role="presentation">
                            <a href="#address" aria-controls="address" role="tab" data-toggle="tab">Address</a>
                        </li>
                        <li role="presentation">
                            <a href="#government" aria-controls="government" role="tab" data-toggle="tab">Government</a>
                        </li>
                        <li role="presentation">
                            <a href="#family" aria-controls="family" role="tab" data-toggle="tab">Family</a>
                        </li>
                        <li role="presentation">
                            <a href="#education" aria-controls="education" role="tab" data-toggle="tab">Education</a>
                        </li>
                        <li role="presentation">
                            <a href="#work" aria-controls="work" role="tab" data-toggle="tab">Work</a>
                        </li>
                        <li role="presentation">
                            <a href="#accreditations" aria-controls="accreditations" role="tab" data-toggle="tab">Accreditations</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane tab-gap active" id="general">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="txtFirstName">First Name</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtFirstName" 
                                            name="txtFirstName" 
                                            placeholder="First Name" 
                                            [(ngModel)]="currentEmployee.firstName"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="txtMiddleName">Middle Name</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtMiddleName" 
                                            name="txtMiddleName" 
                                            placeholder="Middle Name"
                                            [(ngModel)]="currentEmployee.middleName"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="txtLastName">Last Name</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtLastName" 
                                            name="txtLastName" 
                                            placeholder="Last Name"
                                            [(ngModel)]="currentEmployee.lastName"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="slcGender">Gender</label>
                                        <select 
                                            class="form-control" 
                                            id="slcGender"
                                            name="slcGender" 
                                            [(ngModel)]="currentEmployee.gender"
                                            [disabled]="isFormDisabled">
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="txtCitizenship">Citizenship</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtCitizenship"
                                            name="txtCitizenship"
                                            placeholder="Citizenship"
                                            [(ngModel)]="currentEmployee.citizenship"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="dtBirthDate">Birth Date</label>
                                        <input
                                            type="date" 
                                            class="form-control" 
                                            id="dtBirthDate"
                                            name="dtBirthDate"
                                            (input)="currentEmployee.birthDate = parseDate($event.target.value)"
                                            (change)="computeAge(currentEmployee)"
                                            [value]="currentEmployee.birthDate | date : 'yyyy-MM-dd'"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="nbAge">Age</label>
                                        <input 
                                            type="number" 
                                            class="form-control" 
                                            id="nbAge" 
                                            name="ngAge"
                                            [value]="currentEmployee.age"
                                            disabled>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="txtBirthPlace">Birth Place</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtBirthPlace"
                                            name="txtBirthPlace"
                                            placeholder="Birth Place"
                                            [(ngModel)]="currentEmployee.birthPlace"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                            <label for="slcMaritalStatus">Marital Status</label>
                                            <select 
                                                class="form-control"
                                                id="slcMaritalStatus"
                                                name="slcMaritalStatus" 
                                                [(ngModel)]="currentEmployee.maritalStatus"
                                                [disabled]="isFormDisabled">
                                                <option>Single</option>
                                                <option>Married</option>
                                            </select>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane tab-gap" id="employment">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="txtEmployeeNumber">Employee Number</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtEmployeeNumber"
                                            name="txtEmployeeNumber"
                                            placeholder="Employee Number"
                                            [(ngModel)]="currentEmployee.employeeNumber"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="slcPosition">Position</label>
                                        <select 
                                            class="form-control" 
                                            id="slcPosition"
                                            name="slcPosition"
                                            [(ngModel)]="currentEmployee.position._id"
                                            [disabled]="isFormDisabled">
                                            <option *ngFor="let position of positions" [value]="position._id">
                                                {{ position.positionName }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="dtStartingDate">Starting Date</label>
                                        <input 
                                            type="date" 
                                            class="form-control" 
                                            id="dtStartingDate" 
                                            name="dtStartingDate"
                                            [value]="currentEmployee.startingDate | date:'yyyy-mm-dd'"
                                            (input)="currentEmployee.startingDate = $event.target.value"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="slcCompany">Company</label>
                                        <select 
                                            class="form-control" 
                                            id="slcCompany" 
                                            name="slcCompany"
                                            [(ngModel)]="currentEmployee.company._id"
                                            [disabled]="isFormDisabled">
                                            <option
                                                *ngFor="let company of companies" 
                                                [value]="company._id">
                                                {{ company.companyName }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="nbSalary">Salary</label>
                                        <input 
                                            type="number" 
                                            class="form-control" 
                                            id="nbSalary"
                                            name="dbSalary"
                                            [(ngModel)]="currentEmployee.salary"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="slcEmploymentStatus">Employment Status</label>
                                        <select 
                                            class="form-control" 
                                            id="slcEmploymentStatus" 
                                            name="slcEmploymentStatus" 
                                            [(ngModel)]="currentEmployee.employmentStatus._id"
                                            [disabled]="isFormDisabled">
                                            <option
                                                *ngFor="let employmentStatus of employmentStatuses" 
                                                [value]="employmentStatus._id">
                                                {{ employmentStatus.employmentStatus }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>               
                        </div>
                        <div role="tabpanel" class="tab-pane tab-gap" id="contacts">
                            <div class="row">      
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="txtPhoneNumber">
                                            Phone Numbers
                                            <button 
                                                (click)="addPhoneNumber()"
                                                [disabled]="isFormDisabled"
                                                type="button" 
                                                title="Add Phone Number" 
                                                class="btn btn-primary btn-xs">
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </button>
                                        </label>
                                        <span *ngFor="let phoneNumber of currentEmployee.phoneNumbers">
                                            <input 
                                                type="text" 
                                                class="form-control" 
                                                id="txtPhoneNumber"
                                                name="txtPhoneNumber" 
                                                placeholder="Phone Number"
                                                style="width:270px;"
                                                [(ngModel)]="phoneNumber.number"
                                                [disabled]="isFormDisabled">
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="txtLandline">
                                            Landlines
                                            <button 
                                                (click)="addLandline()"
                                                [disabled]="isFormDisabled"
                                                type="button" 
                                                title="Add Phone Number" 
                                                class="btn btn-primary btn-xs">
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </button>
                                        </label>
                                        <span *ngFor="let landline of currentEmployee.landlines">
                                            <input 
                                                type="text" 
                                                class="form-control" 
                                                id="txtLandline" 
                                                name="txtLandline"
                                                placeholder="Landline"
                                                style="width:270px;"
                                                [(ngModel)]="landline.number"
                                                [disabled]="isFormDisabled">
                                        </span>
                                    </div>
                                </div>
                            </div>        
                        </div>
                        <div role="tabpanel" class="tab-pane tab-gap" id="address">
                            <div class="row">   
                                <h3 class="text-center">City Address</h3>  
                                <div class="col-lg-12 text-center">
                                    <div class="checkbox">
                                        <label for="chkCityAddressIsPermanent">
                                            <input 
                                                type="checkbox" 
                                                id="chkCityAddressIsPermanent"
                                                name="chkCityAddressIsPermanent"
                                                [(ngModel)]="currentEmployee.cityAddress.isPermanent"
                                                [disabled]="isFormDisabled"
                                                (ngModelChange)="togglePermanentAddress()"> Is Permanent
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="txtCityAddressUnitFloor">Unit/Floor</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtCityAddressUnitFloor" 
                                            name="txtCityAddressUnitFloor" 
                                            placeholder="Unit Floor"
                                            [(ngModel)]="currentEmployee.cityAddress.unitFloor"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="txtCityAddressBuilding">Building</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtCityAddressBuilding"
                                            name="txtCityAddressBuilding"
                                            placeholder="Building"
                                            [(ngModel)]="currentEmployee.cityAddress.building"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="txtCityAddressStreetName">Street Name</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtCityAddressStreetName"
                                            name="txtCityAddressStreetName"
                                            placeholder="Street Name"
                                            [(ngModel)]="currentEmployee.cityAddress.streetName"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="txtCityAddressBarangay">Barangay</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtCityAddressBarangay"
                                            name="txtCityAddressBarangay" 
                                            placeholder="Barangay"
                                            [(ngModel)]="currentEmployee.cityAddress.barangay"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="txtCityAddressCity">City</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtCityAddressCity"
                                            name="txtCityAddressCity" 
                                            placeholder="City"
                                            [(ngModel)]="currentEmployee.cityAddress.city"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="txtCityAddressZipCode">Zip Code</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtCityAddressZipCode"
                                            name="txtCityAddressZipCode" 
                                            placeholder="Zip Code"
                                            [(ngModel)]="currentEmployee.cityAddress.zipCode"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <h3 class="text-center">Provincial Address</h3>
                                <div class="col-lg-12 text-center">
                                    <div class="checkbox">
                                        <label for="chkProvincialAddressIsPermanent">
                                            <input 
                                                type="checkbox" 
                                                id="chkProvincialAddressIsPermanent"
                                                name="chkProvincialAddressIsPermanent"
                                                [(ngModel)]="currentEmployee.provincialAddress.isPermanent"
                                                [disabled]="isFormDisabled"
                                                (ngModelChange)="togglePermanentAddress()"> Is Permanent
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="txtProvincialAddressUnitFloor">Unit/Floor</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtProvincialAddressUnitFloor"
                                            name="txtProvincialAddressUnitFloor" 
                                            placeholder="Unit/Floor"
                                            [(ngModel)]="currentEmployee.provincialAddress.unitFloor"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="txtProvincialAddressBuilding">Building</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtProvincialAddressBuilding"
                                            name="txtProvincialAddressBuilding" 
                                            placeholder="Building"
                                            [(ngModel)]="currentEmployee.provincialAddress.building"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="txtProvincialAddressStreetName">Street Name</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtProvincialAddressStreetName"
                                            name="txtProvincialAddressStreetName"
                                            placeholder="Street Name"
                                            [(ngModel)]="currentEmployee.provincialAddress.streetName"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="txtProvincialAddressBarangay">Barangay</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtProvincialAddressBarangay"
                                            name="txtProvincialAddressBarangay" 
                                            placeholder="Barangay"
                                            [(ngModel)]="currentEmployee.provincialAddress.barangay"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="txtProvincialAddressCity">City</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtProvincialAddressCity"
                                            name="txtProvincialAddressCity"
                                            placeholder="City"
                                            [(ngModel)]="currentEmployee.provincialAddress.city"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="txtProvincialAddressZipCode">Zip Code</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtProvincialAddressZipCode"
                                            name="txtProvincialAddressZipCode" 
                                            placeholder="Zip Code"
                                            [(ngModel)]="currentEmployee.provincialAddress.zipCode"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <h3 class="text-center">Permanent Address</h3>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="txtPermanentAddressUnitFloor">Unit/Floor</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtPermanentAddressUnitFloor"
                                            name="txtPermanentAddressUnitFloor" 
                                            placeholder="Unit Floor"
                                            [(ngModel)]="currentEmployee.permanentAddress.unitFloor"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="txtPermanentAddressBuilding">Building</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtPermanentAddressBuilding"
                                            name="txtPermanentAddressBuilding" 
                                            placeholder="Building"
                                            [(ngModel)]="currentEmployee.permanentAddress.building"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="txtPermanentAddressStreetName">Street Name</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtPermanentAddressStreetName"
                                            name="txtPermanentAddressStreetName" 
                                            placeholder="Password"
                                            [(ngModel)]="currentEmployee.permanentAddress.streetName"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="txtPermanentAddressBarangay">Barangay</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtPermanentAddressBarangay"
                                            name="txtPermanentAddressBarangay" 
                                            placeholder="Barangay"
                                            [(ngModel)]="currentEmployee.permanentAddress.barangay"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="txtPermanentAddressCity">City</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtPermanentAddressCity"
                                            name="txtPermanentAddressCity" 
                                            placeholder="City"
                                            [(ngModel)]="currentEmployee.permanentAddress.city"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label for="txtPermanentAddressZipCode">Zip Code</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtPermanentAddressZipCode"
                                            name="txtPermanentAddressZipCode" 
                                            placeholder="Zip Code"
                                            [(ngModel)]="currentEmployee.permanentAddress.zipCode"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                            </div>        
                        </div>
                        <div role="tabpanel" class="tab-pane tab-gap" id="government">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="txtssNumber">SSS Number</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtssNumber"
                                            name="txtssNumber" 
                                            placeholder="SS Number"
                                            [(ngModel)]="currentEmployee.ssNumber"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="txtTinNumber">TIN Number</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtTinNumber"
                                            name="txtTinNumber"
                                            placeholder="TIN Number"
                                            [(ngModel)]="currentEmployee.tinNumber"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="txtPhilHealthNumber">PhilHealth Number</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtPhilHealthNumber"
                                            name="txtPhilHealthNumber" 
                                            placeholder="PhilHealth Number"
                                            [(ngModel)]="currentEmployee.philHealthNumber"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="txtPagIbigNumber">PAGIBIG Number</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="txtPagIbigNumber"
                                            name="txtPagIbigNumber" 
                                            placeholder="PAGIBIG Number"
                                            [(ngModel)]="currentEmployee.pagibigNumber"
                                            [disabled]="isFormDisabled">
                                    </div>
                                </div>
                            </div>        
                        </div>
                        <div role="tabpanel" class="tab-pane tab-gap" id="family">
                            <div class="row">
                                <div class="col-lg-offset-10 col-lg-2 pull-right">
                                    <button (click)="addFamily()" class="btn btn-primary  btn-block btn-sm">Add Family</button>
                                </div>
                            </div>
                            <div class="row tab-gap">
                                <div class="col-lg-12">
                                    <table class="table table-condensed">
                                        <thead>
                                            <th></th>
                                            <th>Relationship</th>
                                            <th>First Name</th>
                                            <th>Middle Name</th>
                                            <th>Last Name</th>
                                            <th>Occupation</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let family of currentEmployee.family; let index = index; trackBy: family">
                                                <td class="text-center">
                                                    <button 
                                                        (click)="deleteFamily(family)" 
                                                        [disabled]="isFormDisabled"
                                                        type="button" 
                                                        class="btn btn-default btn-xs">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                                <td>{{ family.relationship }}</td>
                                                <td>{{ family.firstName }}</td>
                                                <td>{{ family.middleName }}</td>
                                                <td>{{ family.lastName }}</td>
                                                <td>{{ family.occupation }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane tab-gap" id="education">
                            <div class="row">
                                <div class="col-lg-offset-10 col-lg-2 pull-right">
                                    <button (click)="addFamily()" class="btn btn-primary  btn-block btn-sm">Add Family</button>
                                </div>
                            </div>
                            <div class="row  tab-gap">
                                <div class="col-lg-12">
                                    <table class="table table-condensed table-responsive">
                                        <thead>
                                            <th></th>
                                            <th>Education Level</th>
                                            <th>Degree</th>
                                            <th>Date Graduated</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let education of currentEmployee.educationHistory; let index = index; trackBy: education;">
                                                <td class="text-center">
                                                    <button 
                                                        (click)="deleteEducation(education)" 
                                                        [disabled]="isFormDisabled"
                                                        type="button" 
                                                        class="btn btn-default btn-xs">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                                <td>{{ education.educationLevel }}</td>
                                                <td>{{ education.degree }}</td>
                                                <td>{{ education.dateGraduated }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane tab-gap" id="work">
                            <div class="row">
                                <div class="col-lg-offset-10 col-lg-2 pull-right">
                                    <button (click)="addWorkHistory()" class="btn btn-primary  btn-block btn-sm">Add Work History</button>
                                </div>
                            </div>
                            <div class="row tab-gap">
                                <div class="col-lg-12">
                                    <table class="table table-condensed table-responsive">
                                        <thead>
                                            <th></th>
                                            <th class="text-center">Position</th>
                                            <th class="text-center">Company Name</th>
                                            <th class="text-center">From</th>
                                            <th class="text-center">To</th>
                                            <th class="text-center">Status</th>
                                            <th class="text-center">Salary</th>
                                            <th class="text-center">Reason for Leaving</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let workHistory of currentEmployee.workHistory; let index = index; trackBy: workHistory">
                                                <td class="text-center">
                                                    <button 
                                                        (click)="deleteWorkHistory(workHistory)"
                                                        [disabled]="isFormDisabled"
                                                        type="button" 
                                                        class="btn btn-default btn-xs">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane tab-gap" id="accreditations">
                            <div class="row">
                                <div class="col-lg-offset-10 col-lg-2 pull-right">
                                    <button (click)="addAccreditation()" class="btn btn-primary  btn-block btn-sm">Add Accreditation</button>
                                </div>
                            </div>
                            <div class="row tab-gap">
                                <div class="col-lg-12">
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th colspan="3" class="section-title">Certificates</th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th>Title</th>
                                                <th>Date Accredited</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let certification of currentEmployee.certifications; let index = index; trackBy: certification;">
                                                <td class="text-center">
                                                    <button 
                                                        type="button" 
                                                        class="btn btn-default btn-xs"
                                                        (click)="deleteCertification(certification)" 
                                                        [disabled]="isFormDisabled">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                                </td>
                                                <td>{{ certification.title }}</td>
                                                <td>{{ certification.dateAccredited }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-12">
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th colspan="3" class="section-title">Licensures</th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th>Title</th>
                                                <th>Date Accredited</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let licensure of currentEmployee.licensures; let index = index; trackBy: licensure">
                                                <td class="text-center">
                                                    <button 
                                                        type="button" 
                                                        class="btn btn-default btn-xs"
                                                        (click)="deleteLicense(licensure)" 
                                                        [disabled]="isFormDisabled">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                                <td>{{ licensure.title }}</td>
                                                <td>{{ licensure.dateAccredited }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" *ngIf="operation === 0">
                    <button (click)="edit()" type="button" class="btn btn-primary">Edit</button>
                    <button (click)="confirmDelete()" type="button" class="btn btn-default pull-left">
                        <i class="glyphicon glyphicon-warning-sign"></i> Delete
                    </button>
                </div>
                <div class="modal-footer" *ngIf="operation === 1">
                    <button (click)="cancelEdit()" type="button" class="btn btn-default" [disabled]="isFormDisabled">Cancel</button>
                    <button (click)="confirmSave()" type="button" class="btn btn-primary" [disabled]="isFormDisabled">Save</button>
                </div>
                <div class="modal-footer" *ngIf="operation === 2">
                    <button (click)="cancelAdd()" type="button" class="btn btn-default" [disabled]="isFormDisabled">Cancel</button>
                    <button (click)="confirmAdd()" type="button" class="btn btn-primary" [disabled]="isFormDisabled">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>-->