<div class="row">
    <div class="col-lg-12 module-header">
        <h2 class="text-center">Employee List</h2>
        <hr>
    </div>
</div>

<!-- search filter -->
<div class="row" style="margin-bottom: 50px;">
    <div class="col-lg-2">
        <p><strong>Total no. of employees:</strong> {{ employees.length }}</p>
    </div>
    <div class="col-lg-offset-6 col-lg-4">
        <input name="txtSearchKeyword" type="text" class="form-control" placeholder="Type in keyword here..." [(ngModel)]="searchFilter">
    </div>
</div>

<!-- employee list -->
<div class="row">
    <table class="table table-bordered table-striped table-hover table-condensed">
        <thead>
            <th></th>
            <th class="text-center">Company</th>
            <th class="text-center">Employee No</th>
            <th class="text-center">First Name</th>
            <th class="text-center">Middle Name</th>
            <th class="text-center">Last Name</th>
            <th class="text-center">Position</th>
            <th class="text-center">Salary</th>
            <th class="text-center">Emplymt Status</th>
            <th class="text-center">Birth Date</th>
            <th class="text-center">SS Number</th>
            <th class="text-center">Philhealth Number</th>
            <th class="text-center">TIN Number</th>
            <th class="text-center">PAG-IBIG Number</th>
        </thead>
        <tbody>
            <tr *ngFor="let employee of (employees | employeeFilter: searchFilter )">
                <td>
                    <button (click)="view(employee)" class="btn btn-primary btn-xs" title="View information" data-toggle="modal" data-target="#mdlModalInfo">
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </button>
                </td>
                <td>{{ employee.company.companyName }}</td>
                <td>{{ employee.employeeNumber }}</td>
                <td>{{ employee.firstName }}</td>
                <td>{{ employee.middleName }}</td>
                <td>{{ employee.lastName }}</td>
                <td>{{ employee.position.positionName }}</td>
                <td>{{ employee.salary | currency : 'PHP' : true : '1.2-2' }}</td>
                <td>{{ employee.employmentStatus.employmentStatus }}</td>
                <td>{{ employee.birthDate | date: 'dd/MM/yyyy' }}</td>
                <td>{{ employee.ssNumber }}</td>
                <td>{{ employee.philHealthNumber }}</td>
                <td>{{ employee.tinNumber }}</td>
                <td>{{ employee.pagibigNumber }}</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="mdlModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 1450px;">
        <div class="modal-content">
            <form autocomplete="off" *ngIf="currentEmployee">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Employee Information</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="txtFirstName">First Name</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="txtFirstName" 
                                    name="txtFirstName" 
                                    placeholder="First Name" 
                                    [(ngModel)]="currentEmployee.firstName">
                            </div>
                            <div class="form-group">
                                <label for="txtMiddleName">Middle Name</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="txtMiddleName" 
                                    name="txtMiddleName" 
                                    placeholder="Middle Name"
                                    [(ngModel)]="currentEmployee.middleName">
                            </div>
                            <div class="form-group">
                                <label for="txtLastName">Last Name</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="txtLastName" 
                                    name="txtLastName" 
                                    placeholder="Last Name"
                                    [(ngModel)]="currentEmployee.lastName">
                            </div>
                            <div class="form-group">
                                <label for="slcMaritalStatus">Gender</label>
                                <select 
                                    class="form-control" 
                                    id="slcMaritalStatus"
                                    name="slcMaritalStatus" 
                                    [(ngModel)]="currentEmployee.maritalStatus">
                                    <option>Single</option>
                                    <option>Married</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="txtCitizenship">Citizenship</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="txtCitizenship"
                                    name="txtCitizenship"
                                    placeholder="Citizenship"
                                    [(ngModel)]="currentEmployee.citizenship">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="dtBirthDate">Birth Date</label>
                                <input 
                                    type="datetime" 
                                    class="form-control" 
                                    id="dtBirthDate"
                                    name="dtBirthDate"
                                    [(ngModel)]="currentEmployee.birthDate">
                            </div>
                            <div class="form-group">
                                <label for="nbAge">Age</label>
                                <input 
                                    type="number" 
                                    class="form-control" 
                                    id="nbAge" 
                                    name="ngAge"
                                    [(ngModel)]="currentEmployee.age">
                            </div>
                            <div class="form-group">
                                <label for="txtBirthPlace">Birth Place</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="txtBirthPlace"
                                    name="txtBirthPlace"
                                    placeholder="Birth Place"
                                    [(ngModel)]="currentEmployee.birthPlace">
                            </div>
                            <div class="form-group">
                                <label for="slcMaritalStatus">Marital Status</label>
                                <select 
                                    class="form-control"
                                    id="slcMaritalStatus"
                                    name="slcMaritalStatus" 
                                    [(ngModel)]="currentEmployee.maritalStatus">
                                    <option>Single</option>
                                    <option>Married</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 module-header">
                            <h3 class="text-center">Employment</h3>
		                    <hr>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="txtEmployeeNumber">Employee Number</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="txtEmployeeNumber"
                                    name="txtEmployeeNumber"
                                    placeholder="Employee Number"
                                    [(ngModel)]="currentEmployee.employeeNumber">
                            </div>
                            <div class="form-group">
                                <label for="slcPosition">Position</label>
                                <select 
                                    class="form-control" 
                                    id="slcPosition"
                                    name="slcPosition"
                                    [(ngModel)]="currentEmployee.position._id">
                                    <option 
                                        *ngFor="let position of positions" 
                                        [value]="position._id">
                                        {{ position.positionName }}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="dtStartingDate">Starting Date</label>
                                <input 
                                    type="datetime" 
                                    class="form-control" 
                                    id="dtStartingDate" 
                                    name="dtStartingDate" 
                                    [(ngModel)]="currentEmployee.startingDate">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="nbSalary">Salary</label>
                                <input 
                                    type="number" 
                                    class="form-control" 
                                    id="nbSalary"
                                    name="dbSalary"
                                    [(ngModel)]="currentEmployee.salary">
                            </div>
                            <div class="form-group">
                                <label for="slcEmploymentStatus">Employment Status</label>
                                <select 
                                    class="form-control" 
                                    id="slcEmploymentStatus" 
                                    name="slcEmploymentStatus" 
                                    [(ngModel)]="currentEmployee.employmentStatus._id">
                                    <option
                                        *ngFor="let employmentStatus of employmentStatuses" 
                                        [value]="employmentStatus._id">
                                        {{ employmentStatus.employmentStatus }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 module-header">
                            <h3 class="text-center">Contact Information</h3>
		                    <hr>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="txtPhoneNumber">
                                    Phone Numbers
                                    <button 
                                        (click)="addPhoneNumber()" 
                                        type="button" 
                                        title="Add Phone Number" 
                                        class="btn btn-primary btn-xs">
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </button>
                                </label>
                                <span *ngFor="let phoneNumber of currentEmployee.phoneNumbers">
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        id="txtPhoneNumber"
                                        name="txtPhoneNumber" 
                                        placeholder="Phone Number"
                                        [(ngModel)]="phoneNumber.number">
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="txtLandline">
                                    Landlines
                                    <button 
                                        (click)="addLandline()" 
                                        type="button" 
                                        title="Add Phone Number" 
                                        class="btn btn-primary btn-xs">
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </button>
                                </label>
                                <span *ngFor="let landline of currentEmployee.landlines">
                                    <input 
                                        type="text" 
                                        class="form-control" 
                                        id="txtLandline" 
                                        name="txtLandline"
                                        placeholder="Landline"
                                        [(ngModel)]="landline.number">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 module-header">
                            <h3 class="text-center">Address</h3>
		                    <hr>
                        </div>
                        <div class="col-lg-6">
                            <h3>City Address</h3>
                            <div class="checkbox">
                                <label for="chkCityAddressIsPermanent">
                                    <input 
                                        type="checkbox" 
                                        id="chkCityAddressIsPermanent"
                                        name="chkCityAddressIsPermanent" 
                                        [(ngModel)]="currentEmployee.cityAddress.isPermanent"> Permanent Address
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="txtCityAddressUnitFloor">Unit/Floor</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="txtCityAddressUnitFloor" 
                                    name="txtCityAddressUnitFloor" 
                                    placeholder="Unit Floor"
                                    [(ngModel)]="currentEmployee.cityAddress.unitFloor">
                            </div>
                            <div class="form-group">
                                <label for="txtCityAddressBuilding">Building</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="txtCityAddressBuilding"
                                    name="txtCityAddressBuilding"
                                    placeholder="Building"
                                    [(ngModel)]="currentEmployee.cityAddress.building">
                            </div>
                            <div class="form-group">
                                <label for="txtCityAddressStreetName">Street Name</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="txtCityAddressStreetName"
                                    name="txtCityAddressStreetName"
                                    placeholder="Street Name"
                                    [(ngModel)]="currentEmployee.cityAddress.streetName">
                            </div>
                            <div class="form-group">
                                <label for="txtCityAddressBarangay">Barangay</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="txtCityAddressBarangay"
                                    name="txtCityAddressBarangay" 
                                    placeholder="Barangay"
                                    [(ngModel)]="currentEmployee.cityAddress.barangay">
                            </div>
                            <div class="form-group">
                                <label for="txtCityAddressCity">City</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="txtCityAddressCity"
                                    name="txtCityAddressCity" 
                                    placeholder="City"
                                    [(ngModel)]="currentEmployee.cityAddress.city">
                            </div>
                            <div class="form-group">
                                <label for="txtCityAddressZipCode">Zip Code</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="txtCityAddressZipCode"
                                    name="txtCityAddressZipCode" 
                                    placeholder="Zip Code"
                                    [(ngModel)]="currentEmployee.cityAddress.zipCode">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h3>Provincial Address</h3>
                            <div class="checkbox">
                                <label for="chkProvincialAddressIsPermanent">
                                    <input 
                                        type="checkbox" 
                                        id="chkProvincialAddressIsPermanent"
                                        name="chkProvincialAddressIsPermanent" 
                                        [(ngModel)]="currentEmployee.provincialAddress.isPermanent"> Permanent Address
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="txtProvincialAddressUnitFloor">Unit/Floor</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="txtProvincialAddressUnitFloor"
                                    name="txtProvincialAddressUnitFloor" 
                                    placeholder="Unit/Floor"
                                    [(ngModel)]="currentEmployee.provincialAddress.unitFloor">
                            </div>
                            <div class="form-group">
                                <label for="txtProvincialAddressBuilding">Building</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="txtProvincialAddressBuilding"
                                    name="txtProvincialAddressBuilding" 
                                    placeholder="Building"
                                    [(ngModel)]="currentEmployee.provincialAddress.building">
                            </div>
                            <div class="form-group">
                                <label for="txtProvincialAddressStreetName">Street Name</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="txtProvincialAddressStreetName"
                                    name="txtProvincialAddressStreetName"
                                    placeholder="Street Name"
                                    [(ngModel)]="currentEmployee.provincialAddress.streetName">
                            </div>
                            <div class="form-group">
                                <label for="txtProvincialAddressBarangay">Barangay</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="txtProvincialAddressBarangay"
                                    name="txtProvincialAddressBarangay" 
                                    placeholder="Barangay"
                                    [(ngModel)]="currentEmployee.provincialAddress.barangay">
                            </div>
                            <div class="form-group">
                                <label for="txtProvincialAddressCity">City</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="txtProvincialAddressCity"
                                    name="txtProvincialAddressCity"
                                    placeholder="City"
                                    [(ngModel)]="currentEmployee.provincialAddress.city">
                            </div>
                            <div class="form-group">
                                <label for="txtProvincialAddressZipCode">Zip Code</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="txtProvincialAddressZipCode" 
                                    placeholder="Zip Code"
                                    [(ngModel)]="currentEmployee.provincialAddress.zipCode">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h3>Permanent Address</h3>
                            <div class="form-group">
                                <label for="txtPermanentAddressUnitFloor">Unit/Floor</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="txtPermanentAddressUnitFloor" 
                                    placeholder="Unit Floor"
                                    [(ngModel)]="currentEmployee.permanentAddress.unitFloor">
                            </div>
                            <div class="form-group">
                                <label for="txtPermanentAddressBuilding">Building</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="txtPermanentAddressBuilding"
                                    name="txtPermanentAddressBuilding" 
                                    placeholder="Building"
                                    [(ngModel)]="currentEmployee.permanentAddress.building">
                            </div>
                            <div class="form-group">
                                <label for="txtPermanentAddressStreetName">Street Name</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="txtPermanentAddressStreetName"
                                    name="txtPermanentAddressStreetName" 
                                    placeholder="Password"
                                    [(ngModel)]="currentEmployee.permanentAddress.streetName">
                            </div>
                            <div class="form-group">
                                <label for="txtPermanentAddressBarangay">Barangay</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="txtPermanentAddressBarangay"
                                    name="txtPermanentAddressBarangay" 
                                    placeholder="Barangay"
                                    [(ngModel)]="currentEmployee.permanentAddress.barangay">
                            </div>
                            <div class="form-group">
                                <label for="txtPermanentAddressCity">City</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="txtPermanentAddressCity"
                                    name="txtPermanentAddressCity" 
                                    placeholder="City"
                                    [(ngModel)]="currentEmployee.permanentAddress.city">
                            </div>
                            <div class="form-group">
                                <label for="txtPermanentAddressZipCode">Zip Code</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="txtPermanentAddressZipCode"
                                    name="txtPermanentAddressZipCode" 
                                    placeholder="Zip Code"
                                    [(ngModel)]="currentEmployee.permanentAddress.zipCode">
                            </div>
                        </div>
                        <div class="col-lg-offset-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 module-header">
                            <h3 class="text-center">Government Identification</h3>
		                    <hr>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="txtssNumber">SSS Number</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="txtssNumber"
                                    name="txtssNumber" 
                                    placeholder="SS Number"
                                    [(ngModel)]="currentEmployee.ssNumber">
                            </div>
                            <div class="form-group">
                                <label for="txtTinNumber">TIN Number</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="txtTinNumber"
                                    name="txtTinNumber"
                                    placeholder="TIN Number"
                                    [(ngModel)]="currentEmployee.tinNumber">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="txtPhilHealthNumber">PhilHealth Number</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="txtPhilHealthNumber"
                                    name="txtPhilHealthNumber" 
                                    placeholder="PhilHealth Number"
                                    [(ngModel)]="currentEmployee.philHealthNumber">
                            </div>
                            <div class="form-group">
                                <label for="txtPagIbigNumber">PAGIBIG Number</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="txtPagIbigNumber"
                                    name="txtPagIbigNumber" 
                                    placeholder="PAGIBIG Number"
                                    [(ngModel)]="currentEmployee.pagibigNumber">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 module-header">
                            <h3 class="text-center">
                                Family
                                <button (click)="addEducation()" title="Add Education" type="button" class="btn btn-primary btn-xs">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </h3>
		                    <hr>
                        </div>
                        <div class="col-lg-12">
                            <table class="table table-condensed">
                                <thead>
                                    <th></th>
                                    <th>Relationship</th>
                                    <th>First Name</th>
                                    <th>Middle Name</th>
                                    <th>Last Name</th>
                                    <th>Occupation</th>
                                </thead>
                                <tbody>
                                    <tr></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 module-header">
                            <h3 class="text-center">
                                Educational Background
                                <button (click)="addCertification()" title="Add Certification" type="button" class="btn btn-primary btn-xs">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </h3>
		                    <hr>
                        </div>
                        <div class="col-lg-12">
                            <table class="table table-condensed table-responsive">
                                <thead>
                                    <th></th>
                                    <th>Education Level</th>
                                    <th>Degree</th>
                                    <th>Date of Graduation</th>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 module-header">
                            <h3 class="text-center">
                                Certifications
                                <button (click)="addCertification()" title="Add Certification" type="button" class="btn btn-primary btn-xs">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </h3>
		                    <hr>
                        </div>
                        <div class="col-lg-12">
                            <table class="table table-condensed">
                                <thead>
                                    <th></th>
                                    <th>Title</th>
                                    <th>Date Accredited</th>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 module-header">
                            <h3 class="text-center">
                                Licensures
                                <button (click)="addLicensure()" title="Add Licensure" type="button" class="btn btn-primary btn-xs">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </h3>
		                    <hr>
                        </div>
                        <div class="col-lg-12">
                            <table class="table table-condensed">
                                <thead>
                                    <th></th>
                                    <th>Title</th>
                                    <th>Date Accredited</th>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 module-header">
                            <h3 class="text-center">
                                Work History
                                <button (click)="addWorkHistory()" title="Add Work History" type="button" class="btn btn-primary btn-xs">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </h3>
		                    <hr>
                        </div>
                        <div class="col-lg-12">
                            <table class="table table-condensed table-responsive">
                                <thead>
                                    <th></th>
                                    <th class="text-center">Position</th>
                                    <th class="text-center">Company Name</th>
                                    <th class="text-center">From</th>
                                    <th class="text-center">To</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Salary</th>
                                    <th class="text-center">Reason for Leaving</th>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>