<div class="row">
	<form>

		<div class="col-lg-12" style="padding-top: 50px; margin-bottom: 30px;">

			<h2 class="text-center">Module Maintenance</h2>
			<hr/>

		</div>

		<div class="col-lg-12">

			<button (click)="add()" class="btn btn-success btn-md" title="Add" data-toggle="modal" data-target="#mdlModalInfo">
				<i class="glyphicon glyphicon-plus"></i> Add
			</button>

		</div>

		<div class="col-lg-12">

			<table class="table table-condensed" style="margin-top: 40px;">
				<thead>
					<th></th>
					<th>Group</th>
					<th>Module Name</th>
					<th>Description</th>
					<th>Link</th>
				</thead>
				<tbody>

					<tr *ngIf="loading">
						<td colspan="5" class="text-center">Loading...</td>
					</tr>

					<tr *ngIf="!loading && modules.length <= 0">
						<td colspan="5" class="text-center">No data yet.</td>
					</tr>

					<tr *ngFor="let module of modules">
						<td>
							<button (click)="view(module)" class="btn btn-primary btn-xs" title="View information" data-toggle="modal" data-target="#mdlModalInfo">
								<i class="glyphicon glyphicon-info-sign"></i>
							</button>
							<button (click)="confirmDelete(module)" class="btn btn-danger btn-xs" title="Delete">
								<i class="glyphicon glyphicon-trash"></i>
							</button>
						</td>
						<td>{{ module.group }}</td>
						<td>{{ module.moduleName }}</td>
						<td>{{ module.moduleDescription }}</td>
						<td>{{ module.link }}</td>
					</tr>
				</tbody>
			</table>

		</div>

	</form>
</div>

<!-- Modal -->
<div class="modal fade" id="mdlModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form autocomplete="off" *ngIf="selectedModule">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Module</h4>
				</div>
				<div class="modal-body">


					<div class="form-group">
						<label for="txtModuleName">Module Name</label>
						<input [(ngModel)]="selectedModule.moduleName" [disabled]="isFormDisabled" name="txtModuleName" type="text" class="form-control"
							id="txtModuleName" placeholder="Module Name" required>
					</div>

					<div class="form-group">
						<label for="slcModuleGroup">Group</label>
						<select [(ngModel)]="selectedModule.group" [disabled]="isFormDisabled" name="slcModuleGroup" class="form-control" id="slcModuleGroup">
							<option *ngFor="let group of groups" [value]="group">{{ group }}</option>
						</select>
					</div>

					<div class="form-group">
						<label for="txtModuleDescription">Module Description</label>
						<input [(ngModel)]="selectedModule.moduleDescription" [disabled]="isFormDisabled" name="txtModuleDescription" type="text"
							class="form-control" id="txtModuleDescription" placeholder="Module Description" required>
					</div>

					<div class="form-group">
						<label for="txtModuleLink">Link</label>
						<input [(ngModel)]="selectedModule.link" [disabled]="isFormDisabled" name="txtModuleLink" type="text" class="form-control"
							id="txtModuleLink" placeholder="Link" required>
					</div>

				</div>

				<div *ngIf="operation === 0" class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button (click)="edit()" type="button" class="btn btn-primary">Edit</button>
				</div>

				<div *ngIf="operation === 1" class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button (click)="confirmAdd()" type="button" class="btn btn-primary">Add</button>
				</div>

				<div *ngIf="operation === 2" class="modal-footer">
					<button (click)="cancelEdit()" class="btn btn-default">Cancel</button>
					<button (click)="confirmUpdate()" type="button" class="btn btn-primary">Save</button>
				</div>

			</form>

		</div>
	</div>
</div>